<div class="row-fluid" id="registrationView">
    <form class="form-horizontal"  ng-submit='regCtr.register()' method="POST">
        <fieldset>
            <div id="legend">
                <legend class="">Register</legend>
            </div>
            <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username" placeholder="" class="input-xlarge" ng-model="regCtr.form.username">
                    <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Register Approver -->
                <label class="control-label" for="approver">Approver</label>
                <div class="controls">
                    <input type="text" id="approver" name="approver" placeholder="" class="input-xlarge" ng-model="regCtr.form.approver">
                    <p class="help-block">Enter username of the approver</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button id="registerBtn" class="btn btn-success">Register</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>