<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <form class="form-horizontal" ng-submit='homeCtr.login()'>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">Type in your username</label>
            <div class="controls">
                <input type="text" id="username" name="username" placeholder="" class="input-xlarge"
                       ng-model="homeCtr.form.username">
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Login</button>
            </div>
        </div>
    </form>


    <br>
    <p>Or</p>


    <button type="button" class="btn btn-success" ui-sref="registration">Register</button>
</div>