<!-- index.html -->
<!doctype html>

<html ng-app="socialApp">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Our App2</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- load bootstrap -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script><!-- load angular -->
    <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.js"></script><!-- load angular -->    
    <script src="js/app.js"></script>
    <script src="js/components/home/homeComponent.js"></script>
    <script src="js/components/registration/registrationComponent.js"></script>
    <script src="js/components/start/startPageComponent.js"></script>
    <script src="js/components/acknowledgement/ackComponent.js"></script>
    <script src="js/components/authentication/authenticationService.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body>

<div class="container-fluid" id="mainContainer">
    <div class="row-fluid" id="mainRow">

        <div class="jumbotron text-center">
            <h1>P2P Social Network<br>
                <small class="text-muted">The most awesome social network on the web!</small>
            </h1>
        </div>

        <!-- MAIN CONTENT -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="mainContentColumn">
            <div ui-view></div>
        </div>

    </div>
</div>


</body>
</html>